<mat-toolbar>
  <mat-toolbar-row class="nav">
    <div>
      <button class="button" mat-raised-button routerLink="/product" routerLinkActive="button-active">Products</button>
      <button class="button" mat-raised-button routerLink="/home" routerLinkActive="button-active">Home</button>
      <button class="button" mat-raised-button routerLink="/contact" routerLinkActive="button-active">Contact</button>
    </div>
    <div class="container-cart">
      <a routerLink="/orders"  [matBadge]="total$ | async" matBadgePosition="after" matBadgeColor="secondary" class="button" mat-raised-button >
        <mat-icon>shopping_cart</mat-icon>
        Carrito
      </a>
      <button style="margin-left:10px" routerLink="/admin" class="button" mat-raised-button >
        <mat-icon>admin_panel_settings</mat-icon>
        Admin
      </button>
    </div>
  </mat-toolbar-row>

</mat-toolbar>