<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel>Sus Productos Agregados</ng-template>
    <div *ngIf="(products$ | async | repeatProd) as prod">
      <p *ngIf="prod.length === 0">No hay productos</p>
      <ul>
        <li *ngFor="let product  of prod">
          Titulo: {{product.title}}
          Cantidad : {{product.cant}}
          Precio: {{product.price}}

        </li>
      </ul>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Datos Personales</ng-template>
    <p>Contenido</p>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pago</ng-template>
    <p>Contenido</p>
  </mat-step>
</mat-horizontal-stepper>