
<mat-card  class="product">
  <mat-card-header>
    <h3 appHighlight>{{ product.title | uppercase }}</h3>
  </mat-card-header>
  <mat-card-content class="product__image">
    <img [src]="product.image" alt="">
  </mat-card-content>
  <mat-card-subtitle>
    <strong>{{ product.price | currency }}</strong>
    <p>{{ product.description | slice:0:10 }}</p>
    <p>{{ today | date:'HH:mm' }}</p>
  </mat-card-subtitle>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="addCart()">Agregar al carrito</button>
    <button mat-raised-button color="warn" routerLink="/product/{{product.id}}" >Ver Detalle</button>
  </mat-card-actions>
</mat-card>
